.category-page {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.category-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/category_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.25);
  z-index: -1;
}

.category-page > h1 {
  color: #cd0808;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.893);
  font-weight: 600;
  font-size: 2.15rem;
  letter-spacing: 1px;
}

.category-tag-parent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-bottom: 80px;
  margin-top: 30px;
  /* position: fixed; */
}

.category-tag-parent::-webkit-scrollbar {
  display: none;
}

/* .category-items{
  height: 32vh;
  overflow-y: scroll;
  padding-top: 80px;
}
  */