/* CategoryPage.css */

.category-page {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.category-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/category_page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.25);
  z-index: -1;
}

.category-page > h1 {
  color: #cd0808;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.893);
  font-weight: 600;
  font-size: 2rem; /* Adjusted to use rem */
  letter-spacing: 0.1rem; /* Adjusted to use rem */
  margin-bottom: 2rem; /* Adjusted to use rem */
}

/* Adjust the category tags parent container */
.category-tag-parent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  margin-bottom: 4rem; /* Adjusted to use rem */
  margin-top: 2rem; /* Adjusted to use rem */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.category-tag-parent::-webkit-scrollbar {
  display: none;
}

/* Adjustments for category items container */
.category-items {
  padding-top: 4rem; /* Adjusted to use rem */
}

/* Responsive Styles */

/* Tablet Styles */
@media (max-width: 1024px) {
  .category-page > h1 {
    font-size: 1.75rem; /* Adjusted to use rem */
    letter-spacing: 0.08rem; /* Adjusted to use rem */
  }

  .category-tag-parent {
    margin-bottom: 3rem; /* Adjusted to use rem */
    margin-top: 1.5rem; /* Adjusted to use rem */
  }

  .category-items {
    padding-top: 3rem; /* Adjusted to use rem */
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .category-page > h1 {
    font-size: 1.35rem;  
    letter-spacing: 0.05rem;  
  }

  .category-tag-parent {
     width: 100%;
    flex-direction: row;  
    overflow-x:scroll;  
    overflow-y: hidden;  
    margin-bottom: 2rem;  
    margin-top: 1rem; 
    scrollbar-width:thin;  
  }

  .category-tag-parent::-webkit-scrollbar {
    height: 6px; 
  }

  .category-items {
    padding-top: 2rem; 
    margin-bottom: 7rem;
  }
}
