/* Footer.css */

.footer-outer {
  background-color: black;
  padding: 1rem 0;
  /* margin-top: 0; */
}

.footer-cont {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
 
}

.logo-slogan {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 30%;
  margin-top: 0;
}

.logo-slogan > img {
  height: 6rem;
  width: 12rem;
  object-fit: contain;
  margin-top: 0 !important;
}

.logo-slogan > h5 {
  margin: 0.5rem;
  color: red;
  /* text-align: center; */
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.footer-about,
.footer-support,
.footer-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  gap: 1rem;
  margin: 1rem 0;
  font-weight: 700;
}

.footer-about > a,
.footer-support > a,
.footer-faq > a {
  text-decoration: none;
  color: rgb(135, 3, 3);
  transition: color 0.3s;
}

.footer-about > a:hover,
.footer-support > a:hover,
.footer-faq > a:hover {
  color: rgb(241, 101, 101);
}

.line {
  width: 70%;
  text-align: center;
  border-top: 1px solid grey;
  margin: 1rem auto;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-social-links > a {
  color: white;
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-social-links > a:hover {
  color: rgb(158, 0, 0);
}

.footer-social-links > a > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

h4 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 0;
}

/* Responsive Styles */

/* Tablet Styles */
@media (max-width: 1024px) {
  .footer-cont {
    flex-direction: column;
    align-items: center;
  }

  .footer-about,
  .footer-support,
  .footer-faq {
    width: 45%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .footer-about,
  .footer-support,
  .footer-faq {
    width: 90%;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .logo-slogan > img {
    height: 4rem;
    width: 10rem;
  }

  .logo-slogan > h5 {
    font-size: 1rem;
  }
}
