/* RecipeHistory.css */

.show-all {
  background-color: rgba(32, 14, 14, 0.575);
  margin: 5rem 1.25rem;
  width: 97%;
  border-radius: 0.625rem;
}

.show-all > h2 {
  color: #cd0808;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.893);
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.0625rem;
  text-align: center;
}

.recipehistory-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 0.375rem;
}

/* Flexbox item base styles */
.recipehistory-container .recipecard-container {
  flex: 0 0 auto;
  width: 25%;
  margin: 3.75rem 2.5rem;
}

/* Scrollbar styling */
.recipehistory-container::-webkit-scrollbar {
  height: 0.375rem;
}

.recipehistory-container::-webkit-scrollbar-track {
  background: grey;
}

.recipehistory-container::-webkit-scrollbar-thumb {
  background: rgb(109, 11, 11); /* Color of the thumb (the draggable part) */
  border-radius: 0.375rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.632); /* Creates padding around the thumb */
}

.recipehistory-container::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the thumb on hover */
}

.recipehistory-container::-webkit-scrollbar-corner {
  background: grey; /* Background color of the bottom-right corner */
}

/* Responsive Styles */

/* Tablet styles */
@media (max-width: 1024px) {
  .show-all {
    margin: 4rem 1rem;
  }

  .recipehistory-container .recipecard-container {
    width: 33%;
    margin: 3rem 1.5rem;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .show-all {
    margin: 3rem 0.5rem;
  }

  .show-all>h2{
    font-size: 1.25rem !important;
    padding-top: 0.5rem;
  }

  .recipehistory-container .recipecard-container {
    width: 50%;
    margin: 2rem 0.5rem;
  }
}
