.home-auto-value{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */ 
    background: rgb(232, 224, 226);
    background: linear-gradient(90deg, rgba(28, 7, 14, 0.938) 70%, rgba(58, 6, 19, 0.989) 90%);
    width: 70%;
    padding: 50px;
    border-radius: 20px;
    margin: 4% auto 0 auto;
}

.home-auto-value>img{
    height: 15rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 5px;
}

.home-desc{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
    margin-left: 20px;
}

.home-desc>h1{
   color: rgb(235, 228, 228);
}

.home-desc>span{
    color: rgb(181, 177, 177);
}
